@import "@fontsource/nunito";

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: 'Nunito';
}


.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.presentacion{
  width: 100vw;
  height: 90vh;
  background-image: url('./img/restaurante.jpg');
  background-size: cover;
  color: aliceblue;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 3px 5px black;
}
.presentacion > div{
  width: 50%;
  margin-left: 50px;
}

.presentacion > div > h1{
  margin-bottom: 10px;
  font-size: 60px;
  
}

.presentacion div p{
  font-size: 20px;
}
#calificacion{
  margin-top: 30px;
  width: 97%;
  margin: 0 auto;
  font-size: 19px;
  float: right;
  display: grid;
  justify-content: flex-end;
  position: absolute;
  top: 82%;
}

.card{
  background-color: rgba(139, 139, 139, 0.555);
  width: 400px;
  height: 65px;
  padding-top: 5px;
  padding-left: 10px;
  position: relative;
  left: 10%;
}

#comida{
  width: 100vw;
  height: 100vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
